<div class="user_profile_nav">
    <div class="sng_user_profile_nav">
        <h2>Art & Literatures</h2>
        <ul>
            <li><a href="">Content</a></li>
            <li><a href="">Pending</a></li>
            <li><a href="">Refuge</a></li>
            <li><a href="{% url 'upload_content' %}">Upload</a></li>
        </ul>
    </div>
    <div class="sng_user_profile_nav">
        <h2>Medical</h2>
        <ul>
            <li><a href="">Content</a></li>
            <li><a href="">Pending</a></li>
            <li><a href="">Refuge</a></li>
            <li><a href="{% url 'upload_content_medi' %}">Upload</a></li>
        </ul>
    </div>
</div>