{% extends "main.html" %}
{% load static %}
{% block content %}
   
    <!-- Slider -->
    <div class="container_full">

        <!-- Slider -->
        <div class="container slider_container">
            <div class="slider_section">
                <div class="slide">
                    <div class="slide_img res_width_100">
                        <img src="{% static 'simg/img1.jpg' %}" alt="Slide 1">
                    </div>
                    <div class="slide_cnt res_width_100">
                        <div class="slide_content">
                            <h5>Editor's picks</h5>
                            <h3>The standard Lorem Ipsum, used since the 1500s</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                            <p>Music - Feb 18</p>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide_img res_width_100">
                        <img src="{% static 'simg/img2.jpg' %}" alt="Slide 2">
                    </div>
                    <div class="slide_cnt res_width_100">
                        <div class="slide_content">
                            <h5>Editor's picks</h5>
                            <h3>The standard Lorem Ipsum, used since the 1500s</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                            <p>Music - Feb 18</p>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide_img res_width_100">
                        <img src="{% static 'simg/img3.jpg' %}" alt="Slide 3">
                    </div>
                    <div class="slide_cnt res_width_100">
                        <div class="slide_content">
                            <h5>Editor's picks</h5>
                            <h3>The standard Lorem Ipsum, used since the 1500s</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                            <p>Music - Feb 18</p>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide_img res_width_100">
                        <img src="{% static 'simg/img4.jpeg' %}" alt="Slide 4">
                    </div>
                    <div class="slide_cnt res_width_100">
                        <div class="slide_content">
                            <h5>Editor's picks</h5>
                            <h3>The standard Lorem Ipsum, used since the 1500s</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                            <p>Music - Feb 18</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider_controler">
                <button class="slide_prev"><i class="material-icons">arrow_back</i></button>
                <button class="slide_next"><i class="material-icons">arrow_forward</i></button>
            </div>
        </div>

    </div>
    <!-- End Slider -->

<a href="{% url 'upload_content' %}">Upload</a>

    <!-- Content secction style 1 (Overview Nav) -->
    <div class="container_full" style="margin-top: 30px;">
        <div class="container">

            <div class="wrapper_left res_width_100">
                <div class="wrapper_left_section res_no_pd pd_right_20">
                
                    <!-- Content Section Style 'Overview' -->
                    <div id="mugdhota_content_style1_overview">
                        <div class="mugdhota_content_style1_overview_section">
                            <div class="mugdhota_content_style1_overview_items_section">
                                <div class="mugdhota_content_nav">
                                    <div class="mugdhota_content_nav_sec content_nav_1">
                                        <ul>
                                            <li class="cnt_index">Entertainment</li>
                                            <li><a href="#item0" class="active_cnt_nav">All</a></li>
                                            <li><a href="#item1">Story</a></li>
                                            <li><a href="#item2">Novel</a></li>
                                        </ul>
                                    </div>
                                    <div class="view_all">
                                        <ul>
                                            <li class="cnt_view_all"><a href="{% url 'artandliterature' %}">View all <i class="fa fa-caret-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Content -->
                            <div class="mugdhota_content_section content m_content1">

                                <!-- Overview item 1 -->
                                <div class="mugdhota_cnts_section msmcs_section" id="item0">
                                    {% for post in posts|slice:":5" %}
                                    {% if forloop.first %}
                                    <div class="mugdhota_cnts_left pd_right_20 res_no_pd res_width_100">
                                        <div class="mugdhota_cnts_left_section">
                                            <a href="{% url 'single_post' post.slug %}">
                                                <div class="sng_mugdhota_cnts">
                                                    <div class="smcl_img">
                                                        {% if post.feature_image %}
                                                        <img src="{{ post.feature_image.url }}" alt="">
                                                        {% endif %}
                                                    </div>
                                                    <div class="smc_cnt">
                                                        <h3 style="padding-top: 10px;">{{ post.title }}</h3>
                                                        {{ post.content|safe|escape|linebreaks|truncatechars:100 }}
                                                        <p style="margin-top:25px;color:#7d7c7c">{{ post.category.name }} - {{ post.create_at }}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if not forloop.first %}
                                    <div class="mugdhota_cnts_right pd_left_20 res_no_pd res_width_100">
                                        <div class="mugdhota_cnts_right_section">

                                            <div class="sng_mugdhota_cnts_right">
                                                <a href="{% url 'single_post' post.slug %}">
                                                    <div class="smcr_img">
                                                        <img src="{{ post.feature_image.url }}" alt="">
                                                    </div>
                                                    <div class="smcr_cnt pd_left_10">
                                                        <h3>{{ post.title }}</h3>
                                                        <p>{{ post.category.name }} - {{ post.create_at }}</p>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}

                                </div>
                                <!-- End Overview item 1 -->

                                <!-- Overview item 1 -->
                                <div class="mugdhota_cnts_section msmcs_section" id="item1">
                                    {% for post in stories|slice:":5" %}
                                    {% if forloop.first %}
                                    <div class="mugdhota_cnts_left pd_right_20 res_no_pd res_width_100">
                                        <div class="mugdhota_cnts_left_section">
                                            <a href="{% url 'single_post' post.slug %}">
                                                <div class="sng_mugdhota_cnts">
                                                    <div class="smcl_img">
                                                        {% if post.feature_image %}
                                                        <img src="{{ post.feature_image.url }}" alt="">
                                                        {% endif %}
                                                    </div>
                                                    <div class="smc_cnt">
                                                        <h3 style="padding-top: 10px;">{{ post.title }}</h3>
                                                        {{ post.content|safe|escape|linebreaks|truncatechars:100 }}
                                                        <p style="margin-top:25px;color:#7d7c7c">{{ post.category.name }} - {{ post.create_at }}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if not forloop.first %}
                                    <div class="mugdhota_cnts_right pd_left_20 res_no_pd res_width_100">
                                        <div class="mugdhota_cnts_right_section">
                                            
                                            <div class="sng_mugdhota_cnts_right">
                                                <a href="{% url 'single_post' post.slug %}">
                                                    <div class="smcr_img">
                                                        <img src="{{ post.feature_image.url }}" alt="">
                                                    </div>
                                                    <div class="smcr_cnt pd_left_10">
                                                        <h3>{{ post.title }}</h3>
                                                        <p>{{ post.category.name }} - {{ post.create_at }}</p>
                                                    </div>
                                                </a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}

                                </div>
                                <!-- End Overview item 1 -->
                                
                                <!-- Overview item 2 -->
                                <div class="mugdhota_cnts_section msmcs_section" id="item2">
                                    
                                    {% for post in novels|slice:":5" %}
                                    {% if forloop.first %}
                                    <div class="mugdhota_cnts_left pd_right_20 res_no_pd res_width_100">
                                        <div class="mugdhota_cnts_left_section">
                                            <a href="{% url 'single_post' post.slug %}">
                                                <div class="sng_mugdhota_cnts">
                                                    <div class="smcl_img">
                                                        {% if post.feature_image %}
                                                        <img src="{{ post.feature_image.url }}" alt="">
                                                        {% endif %}
                                                    </div>
                                                    <div class="smc_cnt">
                                                        <h3 style="padding-top: 10px;">{{ post.title }}</h3>
                                                        {{ post.content|safe|escape|linebreaks|truncatechars:100 }}
                                                        <p style="margin-top:25px;color:#7d7c7c">{{ post.category.name }} - {{ post.create_at }}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}

                                    {% for post in novels|slice:":4" %}
                                    {% if not forloop.first %}
                                    <div class="mugdhota_cnts_right pd_left_20 res_no_pd res_width_100">
                                        <div class="mugdhota_cnts_right_section">
                                            
                                            <div class="sng_mugdhota_cnts_right">
                                                <a href="{% url 'single_post' post.slug %}">
                                                    <div class="smcr_img">
                                                        <img src="{{ post.feature_image.url }}" alt="">
                                                    </div>
                                                    <div class="smcr_cnt pd_left_10">
                                                        <h3>{{ post.title }}</h3>
                                                        <p>{{ post.category.name }} - {{ post.create_at }}</p>
                                                    </div>
                                                </a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}

                                </div>
                                <!-- End Overview item 2 -->

                            </div>
                            <!-- Content -->

                        </div>
                    </div>
                    <!-- End Content Section Style 'Overview' -->
                
                </div>
            </div>

            <div class="wrapper_right res_width_100">
                <div class="wrapper_right_section pd_left_20 res_no_pd">
                    
                    <div class="content_title">
                        <h2 style="border-left:4px solid #0a4be6;color:#0a4be6">Most Popular</h2>
                    </div>

                    <div class="wrapper_right_content">
                        <div class="wrapper_right_cnt">

                            <div class="sng_wrc_sec">
                                <div class="sng_wrc">
                                    <h2>1</h2>
                                    <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                </div>
                            </div>

                            <div class="sng_wrc_sec">
                                <div class="sng_wrc">
                                    <h2>2</h2>
                                    <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                </div>
                            </div>

                            <div class="sng_wrc_sec">
                                <div class="sng_wrc">
                                    <h2>3</h2>
                                    <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                </div>
                            </div>

                            <div class="sng_wrc_sec">
                                <div class="sng_wrc">
                                    <h2>4</h2>
                                    <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                </div>
                            </div>

                            <div class="sng_wrc_sec">
                                <div class="sng_wrc">
                                    <h2>5</h2>
                                    <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- End Content secction style 1 (Overview Nav) -->


    <!-- Content secction style 2 -->
     <div class="container_full">
        <div class="container">

            <div class="mugdhota_content_style_2">

                <div class="mugdhota_content_style_2_section res_width_100">
                    <div class="mugdhota_content_style_2_cnt pd_right_30 res_no_pd">

                        <div class="content_title">
                            <h2 style="border-left: 4px solid #096760;color:#096760">Science Fictions</h2>
                        </div>

                        <div class="mcs2c">

                            <div class="sng_mcs2c">
                                <div class="sng_mcs2c_img res_width_100">
                                    <img src="{% static 'simg/img1.jpg' %}" alt="">
                                    <div class="cnt_des">
                                        <h4>Dave Rogers in News</h4>
                                        <p>Jun 14 • 3 min read</p>
                                    </div>
                                </div>
                                <div class="sng_mcs2c_cnt res_width_100">
                                    <h2>News Needs to Meet Its Audiences Where They Are</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                                </div>
                            </div>

                            <div class="sng_mcs2c">
                                <div class="sng_mcs2c_img res_width_100">
                                    <img src="{% static 'simg/img2.jpg' %}" alt="">
                                    <div class="cnt_des">
                                        <h4>Dave Rogers in News</h4>
                                        <p>Jun 14 • 3 min read</p>
                                    </div>
                                </div>
                                <div class="sng_mcs2c_cnt res_width_100">
                                    <h2>News Needs to Meet Its Audiences Where They Are</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                                </div>
                            </div>

                            <div class="sng_mcs2c">
                                <div class="sng_mcs2c_img res_width_100">
                                    <img src="{% static 'simg/img3.jpg' %}" alt="">
                                    <div class="cnt_des">
                                        <h4>Dave Rogers in News</h4>
                                        <p>Jun 14 • 3 min read</p>
                                    </div>
                                </div>
                                <div class="sng_mcs2c_cnt res_width_100">
                                    <h2>News Needs to Meet Its Audiences Where They Are</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                
                <div class="mugdhota_content_style_2_section res_width_100">
                    <div class="mugdhota_content_style_2_cnt pd_left_30 res_no_pd">

                        <div class="content_title">
                            <h2 style="border-left: 4px solid #ff4500;color:#ff4500">Novel</h2>
                        </div>

                        <div class="mcs2c">

                            <div class="sng_mcs2c">
                                <div class="sng_mcs2c_img res_width_100">
                                    <img src="{% static 'simg/img1.jpg' %}" alt="">
                                    <div class="cnt_des">
                                        <h4>Dave Rogers in News</h4>
                                        <p>Jun 14 • 3 min read</p>
                                    </div>
                                </div>
                                <div class="sng_mcs2c_cnt res_width_100">
                                    <h2>News Needs to Meet Its Audiences Where They Are</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                                </div>
                            </div>

                            <div class="sng_mcs2c">
                                <div class="sng_mcs2c_img res_width_100">
                                    <img src="{% static 'simg/img2.jpg' %}" alt="">
                                    <div class="cnt_des">
                                        <h4>Dave Rogers in News</h4>
                                        <p>Jun 14 • 3 min read</p>
                                    </div>
                                </div>
                                <div class="sng_mcs2c_cnt res_width_100">
                                    <h2>News Needs to Meet Its Audiences Where They Are</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                                </div>
                            </div>

                            <div class="sng_mcs2c">
                                <div class="sng_mcs2c_img res_width_100">
                                    <img src="{% static 'simg/img3.jpg' %}" alt="">
                                    <div class="cnt_des">
                                        <h4>Dave Rogers in News</h4>
                                        <p>Jun 14 • 3 min read</p>
                                    </div>
                                </div>
                                <div class="sng_mcs2c_cnt res_width_100">
                                    <h2>News Needs to Meet Its Audiences Where They Are</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                
            </div>

        </div>
     </div>
    <!-- Content secction style 2 -->


    <!-- Content Style 3 -->
    <div class="container_full" style="margin-top: 10px;">
        <div class="container">

            <div class="wrapper_left res_width_100">
                
                <div class="mugdhota_content_style_3 pd_right_20 res_no_pd">
                    
                    <div class="content_title">
                        <h2>Novel</h2>
                    </div>

                    <div class="mugdhota_cnt_style_3 res_no_mar">

                        <div class="mugdhota_cnts_left pd_all_20 res_no_pd res_width_100">
                            <div class="mugdhota_cnts_left_section">
                                <div class="sng_mugdhota_cnts">
                                    <div class="smcl_img">
                                        <img src="{% static 'simg/img5.avif' %}" alt="">
                                    </div>
                                    <div class="smc_cnt res_width_100">
                                        <h3 style="padding-top: 10px;">The standard Lorem Ipsum, used since the 1500s</h3>
                                        <p>Music - Feb 18</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mugdhota_cnts_left pd_all_20 res_no_pd res_width_100">
                            <div class="mugdhota_cnts_left_section">
                                <div class="sng_mugdhota_cnts">
                                    <div class="smcl_img">
                                        <img src="{% static 'simg/img4.jpeg' %}" alt="">
                                    </div>
                                    <div class="smc_cnt">
                                        <h3 style="padding-top: 10px;">The standard Lorem Ipsum, used since the 1500s</h3>
                                        <p>Music - Feb 18</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mugdhota_cnts_left pd_all_20 res_no_pd res_width_100">
                            <div class="mugdhota_cnts_left_section">
                                <div class="sng_mugdhota_cnts">
                                    <div class="smcl_img">
                                        <img src="{% static 'simg/img3.jpg' %}" alt="">
                                    </div>
                                    <div class="smc_cnt">
                                        <h3 style="padding-top: 10px;">The standard Lorem Ipsum, used since the 1500s</h3>
                                        <p>Music - Feb 18</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mugdhota_cnts_left pd_all_20 res_no_pd res_width_100">
                            <div class="mugdhota_cnts_left_section">
                                <div class="sng_mugdhota_cnts">
                                    <div class="smcl_img">
                                        <img src="{% static 'simg/img2.jpg' %}" alt="">
                                    </div>
                                    <div class="smc_cnt">
                                        <h3 style="padding-top: 10px;">The standard Lorem Ipsum, used since the 1500s</h3>
                                        <p>Music - Feb 18</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>

            
            <div class="wrapper_right res_width_100">
                <div class="wrapper_right_section res_no_pd pd_left_20">
                    
                    <div class="content_title">
                        <h2>Recent News</h2>
                    </div>

                    <div class="wrapper_right_content">
                        <div class="wrapper_right_cnt">

                            <div class="sng_wrc_sec2">
                                <div class="sng_wrc2">
                                    <a href="#">
                                        <h2>Lorem ipsum dolor sit amet, consectetur</h2>
                                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus</h3>
                                        <p>Redwan in News</p>
                                        <p class="sng_wrc2_author">March 14 - 3 min to read</p>
                                    </a>
                                </div>
                            </div>

                            <div class="sng_wrc_sec2">
                                <div class="sng_wrc2">
                                    <a href="#">
                                        <h2>Lorem ipsum dolor sit amet, consectetur</h2>
                                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus</h3>
                                        <p class="sng_wrc2_author">Redwan in News</p>
                                        <p>March 14 - 3 min to read</p>
                                    </a>
                                </div>
                            </div>

                            <div class="sng_wrc_sec2">
                                <div class="sng_wrc2">
                                    <a href="#">
                                        <h2>Lorem ipsum dolor sit amet, consectetur</h2>
                                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus</h3>
                                        <p class="sng_wrc2_author">Redwan in News</p>
                                        <p>March 14 - 3 min to read</p>
                                    </a>
                                </div>
                            </div>

                            <div class="sng_wrc_sec2">
                                <div class="sng_wrc2">
                                    <a href="#">
                                        <h2>Lorem ipsum dolor sit amet, consectetur</h2>
                                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus</h3>
                                        <p class="sng_wrc2_author">Redwan in News</p>
                                        <p>March 14 - 3 min to read</p>
                                    </a>
                                </div>
                            </div>

                            <div class="sng_wrc_sec2">
                                <div class="sng_wrc2">
                                    <a href="#">
                                        <h2>Lorem ipsum dolor sit amet, consectetur</h2>
                                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus</h3>
                                        <p class="sng_wrc2_author">Redwan in News</p>
                                        <p>March 14 - 3 min to read</p>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Content Style 3 -->

{% endblock content %}