{% extends 'main.html' %}
{% load static %}
{% block content %}

    <!-- Page Content -->
    <div class="container_full" style="margin-top: 30px;">
        <div class="container">
            
            <div class="page_info">
                <div class="page_title">
                    {% if p_category_obj %}
                    <h2>{{p_category_obj}}</h2>
                    {% else %}
                    <h2>{{title}}</h2>
                    {% endif %}
                </div>
                <div class="page_info_description">
                    
                    <div class="page_info_cnt_category">

                        <div class="pi_sng_category flex">
                            <a href="{% url 'artandliterature' %}" class="{% if not category_obj %}active_cat{% endif %}">
                                <i class="fa-regular fa-circle"></i> All
                            </a>
                            {% for category in sub_categories %}
                                <a href="{% url 'singlecategory' category.name %}" class="{% if category_obj.name == category.name %}active_cat{% endif %}">
                                    <i class="fa-regular fa-circle"></i> {{ category.name }}
                                </a>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>

            <div class="width_66 left res_width_100 mr_left_-20 mr_right_-20 mr_top_-20 res_no_mar">
                <div class="page_left_section">
                    
                    <div class="page_section">
                        <div class="page_section_cnt">
                            {% for post in posts %}
                            <div class="mugdhota_cnts_left pd_all_20 res_no_pd res_width_100">
                                <div class="mugdhota_cnts_left_section">
                                    <a href="{% url 'single_post' post.slug %}">
                                    <div class="sng_mugdhota_cnts">
                                        <div class="smcl_img">
                                            {% if post.feature_image %}
                                                <img src="{{ post.feature_image.url }}" alt="">
                                            {% endif %}
                                        </div>
                                        <div class="smc_cnt res_width_100">
                                            <h3 style="padding-top: 10px;">{{ post.title }}</h3>
                                            <p style="color:#7d7c7c">{{ post.category.name }} - {{ post.create_at }}</p>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>

            <div class="width_33 right res_width_100">
                <div class="wrapper_right_section pd_left_20 res_no_pd">
                    
                    <!-- Category -->
                    <div class="single_page_section_right_cnt">
                        <div class="content_title single_cnt_title">
                            <h2 style="margin-top: 0;">Category</h2>
                        </div>

                        <div class="wrapper_right_content">
                            <div class="wrapper_right_cnt">
                                <div class="category single_page_category">
                                    <ul>
                                        {% for category in categories %}
                                        <li><a href="{% url 'singlecategory' category  %}">{{ category }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="single_page_section_right_cnt">
                        <div class="content_title single_cnt_title">
                            <h2>Most Popular</h2>
                        </div>

                        <div class="wrapper_right_content">
                            <div class="wrapper_right_cnt">

                                
                                <div class="sng_mugdhota_cnts_right">
                                    <div class="smcr_img">
                                        <img src="simg/img2.jpg" alt="">
                                    </div>
                                    <div class="smcr_cnt pd_left_10">
                                        <h3>The standard Lorem Ipsum, used since the 1500s</h3>
                                        <p>Music - Feb 18</p>
                                    </div>
                                </div>
                                
                                <div class="sng_mugdhota_cnts_right">
                                    <div class="smcr_img">
                                        <img src="simg/img2.jpg" alt="">
                                    </div>
                                    <div class="smcr_cnt pd_left_10">
                                        <h3>The standard Lorem Ipsum, used since the 1500s</h3>
                                        <p>Music - Feb 18</p>
                                    </div>
                                </div>
                                
                                <div class="sng_mugdhota_cnts_right">
                                    <div class="smcr_img">
                                        <img src="simg/img2.jpg" alt="">
                                    </div>
                                    <div class="smcr_cnt pd_left_10">
                                        <h3>The standard Lorem Ipsum, used since the 1500s</h3>
                                        <p>Music - Feb 18</p>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="single_page_section_right_cnt">
                        <div class="content_title single_cnt_title">
                            <h2>Most Popular</h2>
                        </div>

                        <div class="wrapper_right_content">
                            <div class="wrapper_right_cnt">

                                <div class="sng_wrc_sec">
                                    <div class="sng_wrc">
                                        <h2>1</h2>
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                    </div>
                                </div>

                                <div class="sng_wrc_sec">
                                    <div class="sng_wrc">
                                        <h2>2</h2>
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                    </div>
                                </div>

                                <div class="sng_wrc_sec">
                                    <div class="sng_wrc">
                                        <h2>3</h2>
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                    </div>
                                </div>

                                <div class="sng_wrc_sec">
                                    <div class="sng_wrc">
                                        <h2>4</h2>
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                    </div>
                                </div>

                                <div class="sng_wrc_sec">
                                    <div class="sng_wrc">
                                        <h2>5</h2>
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    <!-- Tags -->
                    <div class="single_page_section_right_cnt">
                        <div class="content_title single_cnt_title">
                            <h2>Tags</h2>
                        </div>

                        <div class="wrapper_right_content">
                            <div class="wrapper_right_cnt">
                                <div class="tags single_page_tags">
                                    <a href="#">Life Style</a>
                                    <a href="#">Technology</a>
                                    <a href="#">Fashion</a>
                                    <a href="#">Blog</a>
                                    <a href="#">News</a>
                                    <a href="#">Life Style</a>
                                    <a href="#">Technology</a>
                                    <a href="#">Fashion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <!-- End Page Content -->

{% endblock content %}