{% extends 'main.html' %}
{% load static %}
{% block content %}
    

    <!-- Single Page Content -->
    <div class="container_full" style="margin-top: 30px;">
        <div class="container">

            <div class="width_60 left res_width_100">
                <div class="single_page_left_section res_no_pd pd_right_20">
                    
                    <div class="single_page_section">
                        <div class="single_page_content">

                            <div class="single_page_cnt_description">
                                <div class="spcd">
                                    <h3>{{ post.category }}</h3>
                                    <h2>{{ post.title }}</h2>
                                    <div class="content_info">
                                        <p>{{ post.author }} - {{ post.create_at }}</p>
                                        <p>{{post.views}} Views</p>
                                        <p>158 Comments</p>
                                    </div>
                                </div>
                            </div>

                            <div class="single_page_cnt">
                                <div class="spc">
                                    <div class="spc_img">
                                        {% if post.feature_image %}
                                        <img src="{{ post.feature_image.url }}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="spc_cnt">
                                        {{ post.content|safe|escape|linebreaks }}
                                    </div>
                                    <div class="spc_comments">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="width_40 right pd_all_20 res_width_100">
                <div class="wrapper_right_section pd_left_20 res_no_pd">
                    
                    <!-- Category -->
                    <div class="single_page_section_right_cnt">
                        <div class="content_title single_cnt_title">
                            <h2>Category</h2>
                        </div>

                        <div class="wrapper_right_content">
                            <div class="wrapper_right_cnt">
                                <div class="category single_page_category">
                                    <ul>
                                        <li><a href="#">Novel</a></li>
                                        <li><a href="#">Story</a></li>
                                        <li><a href="#">Poem</a></li>
                                        <li><a href="#">Technology</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="single_page_section_right_cnt">
                        <div class="content_title single_cnt_title">
                            <h2>Most Popular</h2>
                        </div>

                        <div class="wrapper_right_content">
                            <div class="wrapper_right_cnt">

                                
                                <div class="sng_mugdhota_cnts_right">
                                    <div class="smcr_img">
                                        <img src="simg/img2.jpg" alt="">
                                    </div>
                                    <div class="smcr_cnt pd_left_10">
                                        <h3>The standard Lorem Ipsum, used since the 1500s</h3>
                                        <p>Music - Feb 18</p>
                                    </div>
                                </div>
                                
                                <div class="sng_mugdhota_cnts_right">
                                    <div class="smcr_img">
                                        <img src="simg/img2.jpg" alt="">
                                    </div>
                                    <div class="smcr_cnt pd_left_10">
                                        <h3>The standard Lorem Ipsum, used since the 1500s</h3>
                                        <p>Music - Feb 18</p>
                                    </div>
                                </div>
                                
                                <div class="sng_mugdhota_cnts_right">
                                    <div class="smcr_img">
                                        <img src="simg/img2.jpg" alt="">
                                    </div>
                                    <div class="smcr_cnt pd_left_10">
                                        <h3>The standard Lorem Ipsum, used since the 1500s</h3>
                                        <p>Music - Feb 18</p>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="single_page_section_right_cnt">
                        <div class="content_title single_cnt_title">
                            <h2>Most Popular</h2>
                        </div>

                        <div class="wrapper_right_content">
                            <div class="wrapper_right_cnt">

                                <div class="sng_wrc_sec">
                                    <div class="sng_wrc">
                                        <h2>1</h2>
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                    </div>
                                </div>

                                <div class="sng_wrc_sec">
                                    <div class="sng_wrc">
                                        <h2>2</h2>
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                    </div>
                                </div>

                                <div class="sng_wrc_sec">
                                    <div class="sng_wrc">
                                        <h2>3</h2>
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                    </div>
                                </div>

                                <div class="sng_wrc_sec">
                                    <div class="sng_wrc">
                                        <h2>4</h2>
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                    </div>
                                </div>

                                <div class="sng_wrc_sec">
                                    <div class="sng_wrc">
                                        <h2>5</h2>
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    <!-- Tags -->
                    <div class="single_page_section_right_cnt">
                        <div class="content_title single_cnt_title">
                            <h2>Tags</h2>
                        </div>

                        <div class="wrapper_right_content">
                            <div class="wrapper_right_cnt">
                                <div class="tags single_page_tags">
                                    <a href="#">Life Style</a>
                                    <a href="#">Technology</a>
                                    <a href="#">Fashion</a>
                                    <a href="#">Blog</a>
                                    <a href="#">News</a>
                                    <a href="#">Life Style</a>
                                    <a href="#">Technology</a>
                                    <a href="#">Fashion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <!-- End Single Page Content -->


    <!-- Single Page Related Content -->
    <div class="container_full" style="margin-top: 10px;">
        <div class="container">

            <div class="wrapper res_width_100">
                
                <div class="mugdhota_content_style_3 pd_right_20 res_no_pd">
                    
                    <div class="content_title">
                        <h2>Novel</h2>
                    </div>

                    <div class="mugdhota_cnt_style_3 res_no_mar">

                        <div class="single_related_cnt wrapper_25 left pd_all_20 res_no_pd res_width_100">
                            <div class="mugdhota_cnts_left_section">
                                <div class="sng_mugdhota_cnts">
                                    <div class="smcl_img single_page_cnt_img">
                                        <img src="simg/img5.avif" alt="">
                                    </div>
                                    <div class="smc_cnt res_width_100">
                                        <h3 style="padding-top: 10px;">The standard Lorem Ipsum, used since the 1500s</h3>
                                        <p>Music - Feb 18</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="single_related_cnt wrapper_25 left pd_all_20 res_no_pd res_width_100">
                            <div class="mugdhota_cnts_left_section">
                                <div class="sng_mugdhota_cnts">
                                    <div class="smcl_img single_page_cnt_img">
                                        <img src="simg/img4.jpeg" alt="">
                                    </div>
                                    <div class="smc_cnt">
                                        <h3 style="padding-top: 10px;">The standard Lorem Ipsum, used since the 1500s</h3>
                                        <p>Music - Feb 18</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="single_related_cnt wrapper_25 left pd_all_20 res_no_pd res_width_100">
                            <div class="mugdhota_cnts_left_section">
                                <div class="sng_mugdhota_cnts">
                                    <div class="smcl_img single_page_cnt_img">
                                        <img src="simg/img3.jpg" alt="">
                                    </div>
                                    <div class="smc_cnt">
                                        <h3 style="padding-top: 10px;">The standard Lorem Ipsum, used since the 1500s</h3>
                                        <p>Music - Feb 18</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="single_related_cnt left wrapper_25 pd_all_20 res_no_pd res_width_100">
                            <div class="mugdhota_cnts_left_section">
                                <div class="sng_mugdhota_cnts">
                                    <div class="smcl_img single_page_cnt_img">
                                        <img src="simg/img2.jpg" alt="">
                                    </div>
                                    <div class="smc_cnt">
                                        <h3 style="padding-top: 10px;">The standard Lorem Ipsum, used since the 1500s</h3>
                                        <p>Music - Feb 18</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- End Single Page Related Content -->


{% endblock content %}