<div class="user_profile_nav">
    <div class="sng_user_profile_nav">
        <h2>Dashboard</h2>
        <ul>
            <li><a href="{% url 'management_dashboard' request.user.username %}">Overview</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="{% url 'user_published_content' %}">Published Content</a></li>
            <li><a href="{% url 'user_pending_content' %}">Pending Content</a></li>
            <li><a href="{% url 'user_refuged_content' %}">Refuged Content</a></li>
        </ul>
    </div>
    <div class="sng_user_profile_nav">
        <h2>Content</h2>
        <ul>
            <li><a href="{% url 'user_published_content' %}">Published Content</a></li>
            <li><a href="{% url 'user_pending_content' %}">Pending Content</a></li>
            <li><a href="{% url 'user_refuged_content' %}">Refuged Content</a></li>
            <li><a href="{% url 'upload_content' %}">Upload</a></li>
        </ul>
    </div>
</div>