{% extends 'm_main.html' %}
{% load static %}
{% block content %}

{% if messages %}
    <script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
    </script>
{% endif %}

<div class="container_full">
    <div class="container" style="width:100%">
        <div class="cnt_management_page flex">

            <div class="writer_menu width_20">
                {% include 'm_nav.html' %}
            </div>

            <div class="user_profile_section width_80">
                <div class="user_profile">

                    <div class="user_content refuge_user_content" style="width:100%">
                        <table>
                            <tr>
                                <th style="width:3%">No</th>
                                <th style="width:30%">Content</th>
                                <th style="width:10%">Reviewed By</th>
                                <th style="width:47%">Reason</th>
                                <th style="width:5%">Delete</th>
                                <th style="width:5%">Edit</th>
                            </tr>
                            {% for post in all_posts %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ post.title }}</td>
                                    <td>{{ post.reviewed_by }}</td>
                                    <td>{{ post.reviewed_comments }}</td>
                                    <td><a href="{% url 'deletecontent' post.slug %}"><i class="fa-solid fa-xmark"></i></a></td>
                                    <td><a href="{% url 'editorial_edit_content' post.slug %}">Edit</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}